sudo: required
services:
    - docker

before_install:
    - docker build -t dimplejariwala/multidocker_fibo -f ./client/Dockerfile.dev ./client

script:
    - docker run dimplejariwala/multidocker_fibo npm run test -- --coverage


after_success:
    - docker build -t dimplejariwala/multidocker_client ./client
    - docker build -t dimplejariwala/multidocker_nginx ./nginx
    - docker build -t dimplejariwala/multidocker_server ./server
    - docker build -t dimplejariwala/multidocker_worker ./worker
    - echo "$DockerHubPwd" | docker login -u "$DockerHubID" --password-stdin
    - docker push dimplejariwala/multidocker_client
    - docker push dimplejariwala/multidocker_server
    - docker push dimplejariwala/multidocker_nginx
    - docker push dimplejariwala/multidocker_worker

deploy:
    provider: elasticbeanstalk
    region: "us-east-2"
    app: "Multi-Docker_Fib"
    env: "MultiDockerFib-env"
    bucket_name: "elasticbeanstalk-us-east-2-496820115691"
    bucket_path: 'Docker-Multi'
    on:
      branch: master
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: 
      secure: $AWS_SECRET_KEY